main {
    padding: 10rem 0;
    background-image: url(../media/contact-us\(nilay\)1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

main h1 {
    position: relative;
    text-align: center;
    top: 20%;
    font-size: 42px;
    margin-left: 3rem;
} 


/* ========================================================= */

article {
    margin: 4rem auto 8rem;
    padding: 0 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

article h2 {
    font-size: 2rem;
    padding-bottom: 0.6rem;
    color: var(--color);
}
article hr {
    width: 40%;
    margin-bottom: 0.6rem;
    height: 4px;
    background-color: var(--color);
    
}
.sec {
    padding: 2rem 0;
}
.sec .icon-1 {
    font-size: 32px;
    padding-top: 8px;
    padding-right: 14px;
}
.sec ul li {
    list-style: none;
    margin-top: 25px;
}
.sec ul li a {
    display: flex;
    text-decoration: none;
    border-bottom: 2px solid #2386b1;
    color: var(--color);
    font-size: 24px; 
    font-weight: bold;
    
}
.sec ul li a:hover {
    color: black;
    border-color: black;
}


.aside {
    box-sizing: border-box;
    border: 4px solid transparent;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px var(--color);
    padding: 2rem 0;
    margin: 2rem;

}
.wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}
.wrapper input, .wrapper button {
    font-size: 16px;
    padding: 5px;
    margin: 8px;
    border-color: transparent;
    border-bottom: 2px solid var(--color);
    opacity: 0.7;
    border-radius: 5px;
    font-size: 14px;
}
.wrapper p {
    padding: 0.5rem;
}
.wrapper span {
    display: flex;
    justify-content: center;
}
.wrapper span input {
    width: 48%;
}
#message {
    height: 24%;
    margin: 1rem;
}
.wrapper button {
    background-color: var(--color);
    color: #fff;
    opacity: 1;
    font-size: 16px;
}
/* ======================MEDIA-QUERIES===============/ */
@media screen and (max-width: 767px) {
    main {
        padding: 4rem 0 8rem 0;
    }
    

    article {
        margin: 2rem 0.5rem;
        padding: 0;
        gap: 1rem;
        flex-direction: column;
    }
}