main {
    padding: 12rem 0;
    background-image: url(../media/contact-us\(nilay\)1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

main h1 {
    font-size: 42px;
    padding: 0 0 0 5%;
    /* display: flex;
    align-items: center;
    justify-content: start; */
    width: 100%;
} 


/* ========================================================= */

article {
    margin: 4rem;
    /* padding: 0rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

article h2 {
    font-size: 2rem;
    padding-bottom: 0.6rem;
    color: black;
}
article hr {
    width: 70%;
    margin-bottom: 0.6rem;
    height: 4px;
    background-color: black;
    
}
.sec {
    padding: 2rem 0;
    max-width: 20rem;
}
.sec .icon-1 {
    font-size: 32px;
    padding-top: 8px;
    padding-right: 14px;
}
.sec ul li {
    list-style: none;
    margin-top: 25px;
}
.sec ul li a {
    display: flex;
    text-decoration: none;
    border-bottom: 2px solid #2386b1;
    color: black;
    font-size: 1rem; 
    font-weight: bold;
    
}
.sec ul li a:hover {
    color: black;
    border-color: black;
}


.aside {
    min-width: 15rem;
    box-sizing: border-box;
    border: 4px solid var(--enquire-now);
    border-radius: 20px;
    /* background-color: var(--enquire-now); */
    box-shadow: 2px 2px 5px 2px var(--enquire-now);
    padding: 2rem 0;
    margin: 2rem;

}
.wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}
.wrapper input, .wrapper button {
    font-size: 16px;
    padding:  0 1rem;
    margin: 8px;
    border-color: transparent;
    border-bottom: 2px solid var(--enquire-now);
    opacity: 0.7;
    border-radius: 5px;
    font-size: 14px;
}
.wrapper p {
    padding: 0.5rem;
}
.wrapper span {
    display: flex;
    justify-content: center;
}
.wrapper span input {
    width: 48%;
}
#message {
    height: 24%;
    margin: 1rem;
} 
.wrapper button {
    background-color: var(--enquire-now);
    color: #fff;
    opacity: 1;
    font-size: 16px;
}
.wrapper  hr {
    background-color: var(--enquire-now);
    border-color: transparent;
}
.wrapper button:hover {
    box-shadow: 2px 2px 5px 3px rgba(245,168,74, 0.3);
}
.wrapper input:focus, .wrapper textarea:focus {
    outline-color: var(--enquire-now);
}
/* ======================MEDIA-QUERIES===============/ */
@media screen and (max-width: 767px) {
    
    

    article {
        margin: 2rem 1rem;
        padding: 1rem;
        gap: 1rem;
        flex-direction: column;
    }

    .aside {
        min-width: 15rem;
    }
}
@media screen and (max-width: 1024px) {
    article {
        padding: 0 1rem;
        margin: 1rem;
        flex-direction: column;
    }main {
        padding: 8rem 0 8rem 0;
        margin-top: 4rem;
    }
    main {
        background-image: url(../media/contact-us\(nilay\)1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
    main h1 {
        position: relative;
        font-size: 42px;
        padding: 0 auto;
        bottom: 11rem;
    }

}