


/* * {
} */
p {
    text-align: justify;
}

/* ============================================= MAIN START =========================================== */

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
} 



.text {
    position: relative;
    /* background: hsl(220, 48%, 22% , 0.7); */
    background-color: rgba(0,43,70, 0.2);
    /* background-size: 50% 50%; */
    padding: 8rem 6rem;
}
.text h1 {
    font-size: 3rem;
    /* color: var(--color); */
    color:  black;
    text-shadow: 0 0 5px #fff;
    text-transform: capitalize;
}
.text p {
    color:  black;
    text-shadow: 0 0 5px #fff;
    font-size: 34px;
    font-weight: bold;
    /* margin: 0 6rem 0.5rem;
    margin-top: 0; */

}
.text> button {
    margin: 1rem 1rem 0 0;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 4px 8px 5.5px 8px;
    box-shadow: 1px 1px 2px 0.5px rgb(60, 60, 60);
}
.text> button> a {
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.text> button:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 2px 1.5px rgb(60, 60, 60);
}
.text::after, .text::before {
    content: "";
    position:absolute;
    height: 0px;
    width: 15%;
    border-top: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-bottom: 2rem solid #fff;
    border-left: 2rem solid #fff;

}
.text::after {
    bottom: -1px;
    left: 0px;
}
.text::before {
    top: 0px;
    right: -1px;
    transform: rotate(180deg);
}



/* ============================================== MAIN END ============================================= */


/* =============================================== ARTICLE START ======================================== */


.article {
    display: grid;
    grid-template-columns: 75% 25%;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0 2rem;
    margin: 0 0 4rem 0;
}
 
/* ====================================== CONTENT START =============================== */

.overview {
    /* margin: 4rem 3rem 3rem; */
    padding: 1rem 1.5rem 2rem;
    border: 2px groove transparent;
    border-radius: 25px;
    border-top-color: #6ec1e4;
    box-shadow: 4px 4px 10px 0px rgb(0 0 0 / 18%);
    text-align: justify;
}
.overview h2, .heading> h2, .docs-required h2, .reg-process h2, .faqs h2, .eligibility h2 {
    font-size: 2rem;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin: 0 1rem 1rem 1rem; 
}
.overview p, .overview li {
    color: black;
}
.overview ul {
    margin-left: 1rem;
}



.advantages {
    border-radius: 1rem;
}
.heading {
    text-align: center;
} 
.heading> p {
    color: black;
    padding-bottom: 1.5rem;
    text-align: center;
}
.advantages hr, .need-for-MSC hr, .docs-required hr, .reg-process hr, .faqs hr, .activities hr, .eligibility hr{
    width: 15%;
    margin: 0 auto;
    height: 0.1rem;
    background-color: black;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-bottom: 2.5rem;
}
.cells {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* padding: 1rem; */
}
.cells div:nth-child(odd), .c10 {
    /* background-color: var(--color); */
    background-color: rgba(0,43,70, 1);
    /* background-color: var(--enquire-now); */
    color: #fff;
    border: 1px solid transparent;
    border-radius: 2rem;
}
.cells div:nth-child(even) {
    color: black;
}
.cell h3 {
    margin-bottom: 1.2rem;
    font-weight: bolder;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
}
.cell li {
    text-align: justify;
    margin:1rem;
    list-style: none;
} 
.cell p {
    text-align: justify;
}
.cell {
    text-align: center;
    padding: 2rem 1.2rem;
    margin: 0.5rem;
}

.c10 {
    color: #fff;
}






.docs-required {
    color: black;
    
}
.docs-required h3 {
    font-size: 1.3rem;
    margin: 1rem 0;
    color: black;
}
.docs-required ul li {
    list-style-position: inside;
    font-size: 1.1rem;
}
.docs-required> ul li {
    list-style: none;
    font-size: 1.1rem;
    padding: 0.3rem;
}
.docs-required> ol li {
    list-style-position: inside;
    font-size: 1.3rem;
    padding: 0.3rem;
}




.reg-process {
    /* margin: 2rem; */
    /* padding: 1rem 1.2rem; */
    color: black;
}
.reg-process .img {
    width: 100%;
}
.reg-process .img >img {
    width: 100%;
}
.reg-process h3,.reg-process h4 {
    color: black;
    font-size: 1.3rem;
    padding: 1rem 0;
}
.sub-reg hr {
    width: 15%;
    margin: 0 auto;
    height: 0.02rem;
    background-color: black;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.reg-process li {
    list-style-position: inside;
    padding: 0.5rem;
}
.reg-process section > h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}




/* .eligibility {
    margin: 0;
    padding: 1rem;
} */
.eligibility li {
    margin-left: 1rem;
}
.eligibility p, .eligibility li {
    padding-bottom: 0.8rem;
    color: black;
}
.eligibility p {
    color: black;
    font-size: 1.1rem;
    padding-bottom: 1rem;
}



.faqs {
    margin: 1rem 0 3rem 1rem;
}
/* .faqs p {
    color: black;
} */
.ques-ans {
    margin-left: 1rem;
}
details {
    margin: 1.5rem 0;
    cursor: pointer;
}
details > summary {
    font-size: 1.3rem;
    list-style-position: outside;
    color: red;
}

details > p {
    margin: 1rem 0;
    font-size: 1.2rem;
    color: black;
}
/* .answer:hover {
    color: black;    
}  */



/* ====================================== CONTENT END ================================= */


/* ======================================= ASIDE START ================================ */
.aside {
    position: sticky;
    top: 25vh;
    height: 24rem;
    width: 12rem;
    /* margin: 7rem 5rem 4rem 3rem; */
    margin: 3rem auto ;
    padding: 0 1rem;
    border: 2px solid rgb(245, 153, 40);
    border-radius: 1rem;
    box-shadow: 3px 4px 10px 1px rgba(245,168,74,0.5);
    background-color:rgba(245,168,74);
}

.enquire-now {
    display: flex;
    flex-direction: column;
    text-align: center; 
}
.enquire-now h3 {
    margin: 0.8rem 0.2rem;
    font-size: 1.3rem;
    border-bottom: 2px solid black;
}
.enquire-now p {
    /* color: black; */
    padding-bottom: 0.6rem;
    text-align: justify;
    line-height: 1.15rem;
}
.enquire-now input, textarea, button {
    margin: 0.2rem 0;
    font-size: 0.9rem;
    padding: 0.2rem;
    border-radius: 2px;
    border: 2px solid rgb(245, 153, 40);
}
.enquire-now input:focus, textarea:focus {
    outline: none;
}
.enquire-now textarea {
    margin-top: 0.2rem;
    padding: 1rem 0;
}
.enquire-now button {
    /* background-color: var(--color); */
    background-color: rgb(247, 152, 36);
    color: #fff;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 50px;
    margin-top: 0.8rem;
    text-align: center;
}
.enquire-now button:hover {
    box-shadow: 3px 2px 10px 1px rgba(0, 0, 0, 0.89);
}
/* ====================================== ASIDE END ================================= */


/* ====================================== ARTICLE END =============================== */

/* =================  MEDIA-QUERIES   ================ */

@media screen and ( max-width: 1024px)  {
    .main {
        gap: 2rem;
    }
    .article {
        padding: 1rem 0;
        gap: 1rem;
    }
    .container {
        padding: 1.5rem;
        gap: 2rem
    }

    .text {
        padding: 6rem 5rem;
    }
    .text h1 {
        font-size: 2.2rem;
    }
    .text::after, .text::before {
        width: 20%;
        border-top: 1.5rem solid transparent;
        border-right: 1.5rem solid transparent;
        border-bottom: 1.5rem solid #fff;
        border-left: 1.5rem solid #fff;
    }
    
    .overview h2, .heading> h2, .docs-required h2, .reg-process h2, .faqs h2, .eligibility h2 {
        font-size: 1.4rem;
    }
    .advantages hr, .need-for-MSC hr, .docs-required hr, .reg-process hr, .faqs hr, .activities hr, .eligibility hr{
        margin-bottom: 1.5rem;
    }
    .article, .cells {
        display: flex;
        flex-direction: column;
    }

    .docs-required ul li, .docs-required> ol li, .docs-required> ul li {
        font-size: 1rem;
        color: black;
    }

    .faqs {
        margin: 1rem 0 0 1rem;
    }  
    details > summary, details > p {
        font-size: 1rem;
    }


    .aside {
        position: static;
    }
    .aside {
        position: sticky;
        top: 25vh;
        height: 22.5rem;
        margin: 4rem auto;
        padding: 2rem 1.5rem;
        border: 1px solid var(--color);
        border-radius: 1rem;
        box-shadow: 3px 4px 10px 1px var(--color);
    }
}

@media screen and (min-width:767px) and (max-width:1024px) {
    .container {
        padding: 1rem; 
    }
    .aside {
        margin: 2rem auto;
        padding: 5%;
        top: 20vh;
        height: 22rem;
    }
    .enquire-now h3 {
        font-size: 1.2rem;
    }
    .enquire-now input, textarea, button {
        padding: 2% 0.5rem;
    }
    .enquire-now button {
        padding: 0.2rem;
    }
}



/* =================  MEDIA-QUERIES   ================ */