/* =====================================BANNER START============================= */

#main {
    display: flex;
}
.container {
    background: url('../../media/220-SM938837.jpg');
    background-position: center;
    background-size: cover;

}
.text {
    /* background-color: hsl(240, 48%, 17%, .9); */
    background-color: rgba(0,43,70, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12rem 0;
}
.text h1 {
    width: 50%;
    color: #ffffff;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
    text-align: center;
}
.text img {
    width: 20%;
    /* opacity:unset; */
    background-color: black;
}




/* =====================================BANNER START============================= */


/* ======================================ENQUIRY START============================= */

.enquiry {
    display: block;
    padding: 5rem auto 5rem;
}
.enquiry form {
    display: flex;
    flex-direction: column;
    padding: 25px 50px;
}
.enquiry h2 {
    color: black;
    font-size: 25px;
    margin-bottom: 10px;
}

.enquiry hr {
    width: 20%;
    background-color: var(--color);
    height: 0.5px;
    border-color: transparent;
}
.enquiry p {
    color:black;
    margin: 10px 0;
}
.label, label {
    font-size: 13px;
    font-weight: 700;
    color:black;
    margin-bottom: 3px;
}
.label::after {
    content: '*';
    color: red;
    margin: 0 3px;
}
#Services {
    font-size: 13px;
    font-weight: 700;
    color: black;
}
input, #Services {
    font-size: 13px;
    padding: 6px 12px;
    margin-bottom: 13px;
    border: 1px solid black;
    border-radius: 2px;
}
input:focus {
    outline: none;
    border: 2px solid #0693e3;
}

.en-btn {
    background-color: var(--color);
    color: #fff;
    padding: 8px;
    font-weight: bold;
    font-size: 16px;
    border: transparent;
    border-radius: 3px;
}


/* =======================MEDIA-QUERIES=========================== */

@media screen and (max-width : 767px) {
    #main {
        flex-direction: column;
    }
    .text {
        padding: 5rem 0;
    }
    .text h1 {
        margin: 0.5rem;
        font-size: 2rem;
    }
    .enquiry {
        padding: 3rem 2rem;
    }
    .enquiry form {
        padding: 0;
    }
}