



/* ===================main======================= */

.banner {
    height: 60vh;
    background: url('../../media/FSSAI-REGISTRATION-1.jpg') no-repeat center / cover fixed;
}

/* ===================main======================= */

/* .eligibility {
    margin:2rem;
    padding: 1rem;
}
.eligibility li {
    margin-left: 1rem;
}
.eligibility p, .eligibility li {
    padding-bottom: 0.8rem;
    color: #7A7A7A;
}
.eligibility p {
    color: #4b4b4b;
    font-size: 1.1rem;
    padding-bottom: 1rem;
} */


.figure {
    display:flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
}
.figure img {
    max-width: 70%;
}


/* testimonial  */



.banner-testimonial {
    height: 60vh;
    background: url('../../media/FSSAI-FOOTER.jpg') no-repeat top / cover fixed;
}
.overlay-testimonial {
    position: absolute;
    background: hsl(240, 48%, 17% , 0.9);
    top: 0;
    left: 0;
    height: 60vh;
    width: 100%;
    color: #fff;
}
.overlay-testimonial>hr {
    width: 15%;
    margin: 0 auto;
    height: 0.1rem;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.overlay-testimonial> h2 {
    margin: 2rem auto 1rem;
    font-size: 2rem;
    text-align: center;
}

.testimonials-main {
    text-align: center;
    display: flex;
    margin: 1rem auto;
    width: 70%;
    height: 55%;
    padding: 1rem;
}

.slider-track {
    display: flex;
    gap: 1rem;
}


.slide {
    display: none;
    color: var(--color);
    background-color: #fff;
    border: 1rem solid width;
    border-radius: 5px;
    margin: 1rem auto 0.5rem;
    padding: 1rem;
    text-align: center;
    cursor: grab;
}
.slider-track  p {    
    color: #777777;
    font-size: 1rem;
    line-height: 1.617em;

}
.current-slide {
    display: unset;
    width: 50%;
}


.testimonials-btn {
    border: none;
    height: 15%;
    margin: auto 1rem;
    background-color: transparent;
    cursor: pointer;
}
.nav-icon {
    transform: scale(1.5);
    color: #cc9955;
}
.profile {
    margin-bottom: 1rem;
}
.profile-pic {
    height: 3rem;
    width: auto;
    margin: 0.5rem;
    border-radius: 50px;
}


.test-nav-btn {
    width: 5rem;
    margin: auto;
}
.nav-sm-btn {
    transform: scale(0.7);
    border: 4px solid #fff;
    border-radius: 20px;
    background-color: #fff;
}
.current {
    background-color: var(--color);
}