



/* ===================main======================= */

.banner {
    height: 60vh;
    background: url('../../media/private-limited-company-2.jpg') no-repeat center / cover fixed;
}

/* ===================main======================= */


.our-services, .eligibility {
    margin: 2rem;
    padding: 1rem;
}
.eligibility h3, .our-services h3 {
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--color);
}
.eligibility ul li, .our-services ul li {
    list-style-position: inside;
    padding: 0.3rem;
    text-align: start;
    color: #4d4d4d;
}