



/* ===================main======================= */

.banner {
    background: url('../../media/private-limited-company-2.jpg') no-repeat center / cover fixed;
}

/* ===================main======================= */


.checklist {
    color: #4d4d4d;
}
.checklist h2 {
    font-size: 1.8rem;
    padding: 1rem 0;
    color: var(--color);
}
.checklist> p {
    font-size: 1.2rem;
    padding: 0.5rem 0;
}
.checklist li {
    margin-left: 1rem;
    padding: 0.3rem 0;
}
.checklist h4 {
    padding: 0.5rem 0;
    color: #3d3d3d;
}

/* MEDIA-QUERIES */

@media screen and (max-width: 767px) {
    .banner {
        background: url('../../media/private-limited-company-2.jpg') no-repeat center / cover;
    }
    .checklist h2 {
        font-size: 1.4rem;
    }
}