



/* ===================main======================= */

.banner {
    background: url('../../media/private-limited-company-2.jpg') no-repeat center / cover fixed;
}

/* ===================main======================= */


/* .eligibility {
    margin: 2rem;
    padding: 1rem;
} */
.eligibility h2 {
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem 0;
    color: var(--color);
}
.eligibility hr {
    width: 15%;
    margin: 0 auto;
    height: 0.1rem;
    background-color: #16163F;
    border: 1px solid #16163F;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.eligibility p {
    color: #4d4d4d;
}

/* ========================================================== */

/* MEDIA-QUERIES */

@media screen and (max-width: 767px) {
    .banner {
        background: url('../../media/private-limited-company-2.jpg') no-repeat center / cover;
    }    
}