



/* ===================main======================= */

.banner {
    /* background: url('../../media/private-limited-company-2.jpg') no-repeat center / cover fixed; */
    background: url('../../media/microfin.jpg') no-repeat right / cover fixed;
    background-size: ;
}

/* ===================main======================= */

/* .need-for-MSC, .main-features {
    margin: 3rem 2rem;
    padding: 1rem;
} */
.need-for-MSC h3 {
    font-size: 1.2rem;
    padding: 1rem 0;
    color: #3f3f3f;
}



.need-for-MSC h2, .main-features h2 {
    font-size: 2rem;
    color: #16163F;
    text-align: center;
    text-transform: uppercase;
    margin: 0 1rem 1rem 1rem; 
}
.need-for-MSC hr, .main-features hr {
    width: 15%;
    margin: 0 auto;
    height: 0.1rem;
    background-color: #16163F;
    border: 1px solid #16163F;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.need-for-MSC ul li, .main-features ul li {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    color: #575757;
}

/* ========================================= */


/* MEDIA-QUERIES */

@media screen and (max-width: 767px) {
    .banner {
        background: url('../../media/microfin.jpg') no-repeat right / cover;
    }
} 