



/* ===================main======================= */

.banner {
    height: 60vh;
    background: url('../../media/Private-limited-company-Mylegalbusiness.jpg') no-repeat center / cover fixed;
}

/* ===================main======================= */


.prohibition {
    margin: 2rem;
    list-style-position: inside;
    padding: 1rem;
}
.prohibition h2 {
    font-size: 1.8rem;
    color: var(--color);
    margin: 1rem 0;
}
.prohibition p {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 1rem 0;
    color: #373737;
}
.prohibition ul li {
    font-size: 1.1rem;
    color: #575757;
    padding: 0.1rem;
}