



/* ===================main======================= */

.banner {
    background: url('../../media/220-SM926184.jpg') no-repeat center / cover fixed;
}

/* ===================main======================= */

/* .intro, .advantages-list, .types, .min-requirements {
    margin: 1rem;
    padding: 2rem 1.5rem 2rem 3rem;
} */
.intro h2,.advantages-list h2, .types h2, .min-requirements h2 {
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--color);
}
.intro, .advantages-list li, .types li, .min-requirements li {
    list-style-type: decimal;
    list-style-position: inside;
    color: #000;
    margin-left: 1rem;
}
.advantages-list h3 {
    color: #000;
}
/* ========================================= */


/* MEDIA-QUERIES */

@media screen and (max-width: 767px) {
    .banner {
        background: url('../../media/220-SM926184.jpg') no-repeat center / cover;
    }  
}