



/* ===================main======================= */

.banner {
    height: 60vh;
    background: url('../../media/Producer-Company.jpg') no-repeat center / cover fixed;
}

/* ===================main======================= */


figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
figure img {
    margin-bottom: 1rem;
}
figure figcaption {
    margin: 1rem 0;
    font-size: 1.1rem;
}

.activities {
    margin: 2rem;
    padding: 1rem;
    color: #636363;
}
.activities ul li {
    list-style: none;
}
.activities h3 {
    font-size: 1.5rem;
    margin: 0.8rem 0;
}
.activities li> p {
    padding-bottom: 1rem;

}


.briefing {
    color: #636363;
}