/* .main-body {

} */
* {
    font-size: 18px;
}

/* ============================================= MAIN START =========================================== */


.main {
    position: relative;
}
.banner {
    height: 60vh;
    background: url('../../media/private-limited-company-2.jpg') no-repeat center / cover fixed;
}



.overlay {
    position: absolute;
    background: hsl(220, 48%, 22% , 0.7);
    top: 0;
    left: 0;
    height: 60vh;
    width: 100%;
}
.overlay h1 {
    font-size: 50px;
    color: #fff;
    margin: 1rem 6rem;
    margin-top: 3rem;
    width: 40%;
}
.overlay> button {
    margin: 0 6rem;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 4px 8px 5.5px 8px;
    box-shadow: 1px 1px 2px 0.5px rgb(60, 60, 60);
}
.overlay> button> a {
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.overlay> button:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 2px 1.5px rgb(60, 60, 60);
}
.overlay::after {
    content: "";
    position:absolute;
    height: 0px;
    width: 15%;
    bottom: 0px;
    left: 0px;
    border-top: 45px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 45px solid #fff;
    border-left: 45px solid #fff;
}
.overlay::before {
    content: "";
    position:absolute;
    height: 0px;
    width: 15%;
    top: 0px;
    right: -1px;
    transform: rotate(180deg);
    border-top: 45px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 45px solid #fff;
    border-left: 45px solid #fff;
}


/* ============================================== MAIN END ============================================= */

/* ====================================================================================== */

/* =============================================== ARTICLE START ======================================== */


.article {
    box-sizing: content-box;
    width: 94vw;
    margin: auto;
    display: grid;
    grid-template-columns: 75% 25%;
}
/* ====================================== CONTENT START =============================== */

.overview {
    box-sizing: border-box;
    border: 2px groove transparent;
    border-radius: 25px;
    margin: 3rem 0.5rem 1.5rem 1rem;
    padding: 1rem 1.5rem 0.5rem;
    border-top-color: #6ec1e4;
    box-shadow: 4px 4px 10px 0px rgb(0 0 0 / 18%);
    text-align: justify;
}
.overview h2, .heading> h2, .docs-required h2, .reg-process h2, .faqs h2 {
    font-size: 2rem;
    color: #16163F;
    text-align: center;
    text-transform: uppercase;
    margin: 0 1rem 1rem 1rem; 
}
.overview ul {
    margin-left: 1rem;
}



.advantages {
    margin: 1.5rem 0.5rem 1.5rem 1rem;
    padding: 0 1rem 0.5rem 1rem;
    padding-top: 0.2rem;
    border-radius: 1rem;
}
.heading {
    text-align: center;
} 
.heading> p {
    color: #7A7A7A;
    padding-bottom: 1rem;
}
.advantages hr, .docs-required hr, .reg-process hr, .faqs hr {
    width: 15%;
    margin: 0 auto;
    height: 0.1rem;
    background-color: #16163F;
    border: 1px solid #16163F;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.cells {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.5rem;
}
.cells div:nth-child(odd) {
    background-color: var(--color);
    color: #fff;
    border: 1px solid transparent;
    border-radius: 2rem;
}
.cells div:nth-child(even) {
    color: var(--color);
}
.cell h2 {
    margin-bottom: 1rem;
    font-weight: bolder;
    font-size: 1.5rem;
}
.cell {
    text-align: center;
    padding: 2rem 1rem;
}



.docs-required {
    margin: 2rem 3rem;
    color: #7A7A7A;
}
.docs-required h3 {
    font-size: 1.3rem;
    margin: 1rem 0;
    color: #575757;
}
.docs-required ul li {
    list-style-position: inside;
    font-size: 1.1rem;
}
.docs-required> ul li {
    list-style: none;
    font-size: 1.3rem;
    padding: 0.3rem;
}



.reg-process {
    margin: 1rem;
    padding: 1rem 1.2rem;
    color: #7A7A7A;
}
.reg-process > img {
    width: 80%;
    margin: 0.5rem 5.5rem;
}
.reg-process h3,h4 {
    color: #575757;
    font-size: 1.3rem;
}
.sub-reg hr {
    width: 15%;
    margin: 0 auto;
    height: 0.02rem;
    background-color: #16163F;
    border: 1px solid #16163F;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.reg-process ul li {
    list-style-position: inside;
}
.reg-process section > h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}



.faqs {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}
.faqs ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
}
.ques {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 20px;
    color: #535353;
}
.answer {
    visibility: hidden;
    margin-left: 1rem;
    color: #7A7A7A;
}
.ques:hover {
    transform: scale(1.2);    
}
.ques:focus-within .answer>p {
    visibility: visible;
    color: black;    
}

/* ====================================== CONTENT END ================================= */

/* ====================================================================================== */

/* ======================================= ASIDE START ================================ */
.aside {
    position: sticky;
    height: 22.5rem;
    width: 14rem;
    top: 25vh;
    margin: 15% 5% 5% 5%;
    padding: 0.5rem;
    border: 1px solid var(--color);
    border-radius: 1rem;
    box-shadow: 3px 4px 10px 1px var(--color);
}

.enquire-now {
    display: flex;
    flex-direction: column;
    text-align: center; 
}
.enquire-now h3 {
    margin: 0.5rem;
    font-size: 1.4rem;
}
.enquire-now p {
    color: #7A7A7A;
    padding-bottom: 0.5rem;
    line-height: 1.15rem;
}
.enquire-now input, textarea, button {
    margin: 0.2rem 0;
    font-size: 0.9rem;
    padding: 0.5rem;
    border: 1px solid black;
}
.enquire-now input:focus, textarea:focus {
    outline: none;
}
.enquire-now button {
    background-color: var(--color);
    color: #fff;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 50px;
    margin-top: 0.8rem;
}
.enquire-now button:hover {
    box-shadow: 3px 2px 10px 1px var(--color);
}
/* ====================================== ASIDE END ================================= */

/* ================================================ ARTICLE END ======================================== */