

/* ============================================= MAIN START =========================================== */


.banner {
    background: url('../../media/soleproprietorship.webp') no-repeat right / contain ;
    background-size: 50% 100%;
}

/* ========================================= */


/* MEDIA-QUERIES */

@media screen and (max-width: 767px) {
    .banner {
        background: url('../../media/soleproprietorship.webp') no-repeat right / contain;
    }
}
/* ========================================= */


